@page "/getpaths"

<PageTitle>Get All Referenced Paths</PageTitle>

<MudText Typo="Typo.h4">Get All Referenced Paths</MudText>

<div class="row">
	<div class="col-4">

	</div>
	<div class="col-8">

	</div>
</div>